.root {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #d2d2d7;
  border-radius: 12px;
  @media (max-width: 900px) {
    margin-bottom: 16px;
  }
}

.wrapper {
  padding: 25px;
  @media (max-width: 900px) {
    padding: 15px;
  }

  .imageContainer {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      max-height: 260px;
      object-fit: cover;
      border-radius: 12px;
    }

    .favouriteBtn {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 20px;
      right: 20px;
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      @media (max-width: 900px) {
        top: 15px;
        right: 15px;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .photosBtn {
      position: absolute;
      display: flex;
      align-items: center;
      height: 32px;
      padding: 8px;
      right: 20px;
      bottom: 20px;
      background: #ffffff;
      border-radius: 8px;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 15px;
      line-height: 17px;

      svg {
        margin-right: 8px;
      }

      @media (max-width: 900px) {
        height: 30px;
        right: 15px;
        bottom: 15px;
        font-size: 14px;
        line-height: 16px;
        svg {
          margin-right: 6px;
        }
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    @media (max-width: 900px) {
      margin-bottom: 4px;
    }

    .rating {
      display: flex;
      align-items: center;
      margin-left: 30px;
      //   font-size: 16px;
      //   line-height: 18px;
      svg {
        margin-right: 6px;
      }

      @media (max-width: 900px) {
        margin-left: 20px;
      }
    }
  }

  .subtitle {
    display: flex;
    align-items: center;
    width: 100%;

    .dot {
      width: 6px;
      height: 6px;
      margin: 0 15px;
      border-radius: 50%;
      background-color: #c4c4c4;
      opacity: 0.6;
    }

    .caption {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: 14px;
      line-height: 16px;

      svg {
        margin-right: 5px;
      }
    }

    @media (max-width: 900px) {
      .dot {
        width: 4px;
        height: 4px;
      }
    }
  }

  .footerBlog {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .priceBlock {
    .price {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 6px;
      @media (max-width: 900px) {
        font-size: 20px !important;
        line-height: 23px;
        color: #000000;
        margin-bottom: 4px;
      }
    }

    .date {
      font-family: 'TT Commons';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.02em;
      color: #000000;
      @media (max-width: 900px) {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.02em;
        color: #000000;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    margin-top: 18px;
    column-gap: 10px;

    .iconButton {
      width: 46px;
      min-width: 46px;
      height: 46px;
      padding: 12px;
    }

    .iconButtons {
      @media (max-width: 900px) {
        width: 46px;
        min-width: 46px;
        height: 46px;
        padding: 12px;
        span {
          margin: 0;
        }

        p {
          display: none;
        }
      }
    }

    @media (max-width: 576px) {
      button {
        &:first-child {
          width: 100%;
        }

        min-width: 46px;
        padding: 14px;

        span {
          margin: 0;
        }

        p {
          display: none;
        }
      }
    }
  }

  .languages {
    display: flex;
    gap: 12px;
    margin-bottom: 22px;
  }

  .flagImage {
    margin-right: 8px;
  }

  .flag {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: black;
    text-decoration: none;
    padding: 10px 17px;
  }

  .more {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 10px;
  }
}
