.root {
  width: 100%;
  padding-top: 70px;
  @media (max-width: 900px) {
    padding-top: 30px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
  width: 100%;
  margin-bottom: 40px;

  .item {
    display: flex;
    flex: 0 0 150px;
  }

  @media (max-width: 900px) {
    .item {
      display: none;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 13px 0 13px 24px;
  border: 1px solid #d2d2d7;
  border-radius: 12px;
  @media (max-width: 900px) {
    height: 46px;
    padding: 5px 0 5px 16px;
  }

  .input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 21px;
    font-family: 'TT Commons', sans-serif;
    color: #000;

    &::placeholder {
      color: #000;
      opacity: 0.16;
    }

    @media (max-width: 900px) {
      padding: 0;
    }
  }

  .searchIcon {
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding: 0 18px;
    border-left: 1px solid #d2d2d7;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
    }

    @media (max-width: 900px) {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.filter {
  display: none;
  @media (max-width: 900px) {
    display: block;
  }

  .outlinedBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 12px;
    border: 1px solid #d2d2d7;
    background-color: #fff;
  }
}

.swiperBlock {
  display: block;
  .title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
}
