.container {
  padding-top: 60px;
  width: 100%;
  @media (max-width: 576px) {
    padding-top: 50px;
  }

  .item {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    border-bottom: 1px solid #e4e4e460;

    .label {
      max-width: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 18px;
      font-weight: 500;
      line-height: 22px;
      cursor: pointer;
      color: #000000;
      font-style: normal;
      font-size: 18px;

      .iconWrapper {
        margin-right: 10px;
        width: 20px;
        height: 20px;

        i {
          font-size: 20px;
          width: 100%;
          color: #000000;
        }
      }

      @media (max-width: 576px) {
        padding-left: 10px;
        font-size: 16px;
        line-height: 19px;
        white-space: nowrap;
        .iconWrapper {
          width: 22px;
          height: 22px;

          i {
            font-size: 20.74px;
          }
        }
      }
    }
  }
}
