.root {
  width: 100%;
  margin-top: 28px;
}
.navbar {
  display: flex;
  align-items: center;
  column-gap: 60px;
  width: 100%;
  border-bottom: 1px solid #d2d2d7;
  .navItem {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    &:hover {
      border-color: #000;
    }
  }
  @media (max-width: 576px) {
    flex-wrap: nowrap;
    column-gap: 40px;
    overflow-x: auto;
    .navItem {
      padding: 8px 0;
      font-size: 16px;
      line-height: 25px;
      white-space: nowrap;
    }
  }
}
