.root {
  width: 100%;
  max-width: 590px;
  padding-top: 58px;
  @media (max-width: 900px) {
    max-width: 100%;
    padding-top: 50px;
  }
}
.wrapper {
  margin-top: 12px;
  padding: 40px 50px;
  border: 1px solid #d2d2d760;
  border-radius: 15px;
  @media (max-width: 900px) {
    padding: 40px 30px;
  }
  @media (max-width: 576px) {
    padding: 20px 15px;
  }
}
.priceInfo {
  padding-top: 30px;
  margin-top: 40px;
  border-top: 1px solid #d2d2d730;

  .secondColumn {
    padding-left: 10px;
  }
  @media (max-width: 576px) {
    padding-top: 20px;
    margin-top: 20px;
  }
}
