.root {
  width: 100%;
  padding-top: 80px;
  @media (max-width: 900px) {
    padding-top: 50px;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  border: 1px solid #d2d2d7;
  border-radius: 12px;
  overflow: hidden;
  @media (max-width: 900px) {
    padding: 20px;
    margin-top: 20px;
  }
  @media (max-width: 576px) {
    display: block;
  }
}

.ratingCircle {
  flex: 0 0 25%;
  padding-right: 30px;
  text-align: center;

  @media (max-width: 576px) {
    padding: 16px;
    display: flex;
    align-items: center;
    padding-right: 30px;
    border-bottom: 1px solid #d2d2d7;
  }

  .title {
    margin: 0;
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
  }

  .subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }

  .circleWrapper {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 12px;

    .ratingFloat {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      font-size: 24px;
      line-height: 28px;

      svg {
        margin-right: 6px;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.ratingInfo {
  flex: 0 0 75%;
  padding-left: 30px;
  border-left: 1px solid #d2d2d7;
  @media (max-width: 1110px) {
    flex: 0 0 60%;
  }
  @media (max-width: 576px) {
    border: none;
    padding-left: 0;
    padding-top: 20px;
  }

  .row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;

    .item {
      display: flex;
      align-items: center;
      flex: 0 0 27%;
      @media (max-width: 576px) {
        flex: 0 0 10%;
        p {
          display: none;
        }
      }
    }

    img {
      width: 18px;
      height: 18px;
      margin-right: 12px;
    }

    .progress {
      position: relative;
      flex: 0 0 35%;
      width: 100%;
      height: 6px;
      margin: 0 5%;
      border-radius: 100px;
      background-color: #fefaf4;
      transition: all 0.2s ease-in-out;
      .indicator {
        height: 100%;
        background-color: #f29f24;
        border-radius: 100px;
        transition: all 0.2s ease-in-out;
      }
      @media (max-width: 576px) {
        flex: 0 0 50%;
      }
    }
  }
}
